{applications,[]}.
{code_paths,["ebin"]}.
{deps_dir,"deps"}.
{description,[]}.
{homepage,"http://google.com/#q="}.
{install_dirs,["doc","ebin","include","priv"]}.
{keywords,[]}.
{rebar_commands,["compile"]}.
{rebar_compatible,false}.
{rebar_fetch_deps_commands,["get-deps"]}.
{requires,["erlydtl","markdown","mochiweb"]}.
